.app {
  text-align: center;
}

.app__box {
  position: relative;
  z-index: 10;
  background-color: #fff;
  opacity: 0.95;
  margin: 0 20px;
  padding: 20px 60px;
  -webkit-box-shadow: 21px 17px 29px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px 17px 29px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 21px 17px 29px -19px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.app__button {
  background-color: #fff;
  padding: 25px 40px;
  color: #1d3b55;
  border: 3px solid #1d3b55;
  font-family: 'Roboto';
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.app__button2:hover {
  background-color: #ebeeef;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.app__button:hover {
  background-color: #1d3b55;
  color: #fff;
  transition: background-color 0.5s;
}

.app__companies {
  margin: 0;
}

.app__companyList {
  background-color: #fff;
  padding: 30px 0;
}

.app__form {
  position: relative;
  left: 10%;
  bottom: -50%;
  transform: translateY(-50%);
}

.app__home {
  position: absolute;
  -ms-transform: translateY(-90%);
  -webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  left: 0;
  margin: 0;
  width: 100%;
  z-index: -1;
}

.app__input {
  width: 100%;
}

.app__inputBox {
  height: 50px;
  font-size: 18px;
  width: 100%;
}

.app__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}

.app__label {
  display: block;
  color: #000;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}

.app__title {
  letter-spacing: 3px;
}

.app__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app__wrapper-noalign {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #1d3b55;
  color: #fff;
  margin-top: 50px;
}

.footer__box {
  display: flex;
  font-size: 15px;
  margin: 20px 20px;
  flex-direction: column;
}

.footer__container {
  display: flex;
  margin: 0 20px;
  justify-content: space-between;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding: 50px 0;
  flex-wrap: wrap;
}

.footer__container-nobackground {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 30px 20px;
}

.footer__copyright {
  font-size: 12px;
}

.footer__icons {
  padding: 0 8px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer-nobackground {
  background-color: #fff;
}

.footer__separator {
  background-color: #fff;
  width: 2px;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.footer__social:hover {
  opacity: 0.8;
}

.footer__social-Fb {
  background-color: #6b9de0;
}

.footer__social-Go {
  background-color: #ca503b;
}

.footer__social-Li {
  background-color: #357ec8;
}

.footer__socialText {
  flex-grow: 2;
  padding: 15px 60px;
  cursor: pointer;
}

.footer__title {
  display: flex;
  color: #fff;
}

@media screen and (max-width: 645px) {
  .app__box {
    position: relative;
    z-index: 1;
    background-color: #fff;
    opacity: 0.95;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
  }

  .app__home {
    display: none;
  }

  .app__inputBox {
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    padding-left: 20px;
    margin-left: 20px;
    width: 87%;
  }

  .app__label {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .app__companyList {
    padding-top: 0;
  }

  .app__box {
    position: relative;
    z-index: 1;
    background-color: #fff;
    opacity: 0.95;
    margin: 0 10px;
    padding: 5px;
    -webkit-box-shadow: 21px 17px 29px -19px rgba(29, 59, 85, 1);
    -moz-box-shadow: 21px 17px 29px -19px rgba(29, 59, 85, 1);
    box-shadow: 21px 17px 29px -19px rgba(29, 59, 85, 1);
    border-radius: 5px;
  }

  .app__home {
    display: none;
  }

  .app__inputBox {
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    padding-left: 20px;
    margin-left: 20px;
    width: 87%;
  }

  .app__label {
    display: none;
  }

  .app__title {
    font-size: 16px;
    margin-top: 5px;
  }

  .footer__box {
    font-size: 12px;
  }

  .footer__container-nobackground {
    display: flex;
    justify-content: center;
  }

  .footer__socialText {
    padding: 6px 20px;
  }
}
