.navbar {
  display: flex;
  background-color: #1d3b55;
  color: #fff;
  padding: 12px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.navbar__dropdown-hidden {
  opacity: 0;
}

.navbar__dropdownList {
  padding: 10px 0px;
  margin: 0;
  position: absolute;
  top: 60px;
  right: 20px;
  list-style: none;
  background-color: #fff;
  z-index: 12;
}

.navbar__dropdown-show {
  opacity: 1;
}

.navbar__icon {
  display: none;
}

.navbar__logo {
}

.navbar__dropdownItem {
  padding: 20px;
  color: #000;
}

.navbar__dropdownItem:hover {
  background-color: #e3e3e3;
  transition: background-color 0.5s;
  cursor: pointer;
}

.navbar__left {
  display: inline-block;
  vertical-align: middle;
  /*background-color: lime;*/
  width: 25%;
  margin-right: 5%;
  text-align: left;
}

.navbar__right {
  display: inline-block;
  /*background-color: red;*/
  width: 65%;
  margin-left: 5%;
  text-align: right;
}

.navbar__list {
  display: inline-block;
  vertical-align: middle;
  padding-right: 50px;
}

.navbar__item {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

.navbar__logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 50px;
  vertical-align: middle;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    background-color: #1d3b55;
    color: #fff;
    padding: 10px 0;
  }

  .navbar__icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
  }

  .navbar__list {
    display: none;
  }

  .navbar__logo {
    width: 100px;
  }
}
