.item-view {
  margin: 10px;
}

.item-view__button-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.item-view__wrapper {
  display: block;
  max-width: 400px;
}

.item-view__pic {
  max-width: 100%;
}
